<h1>Usuário n° <%= @user.id %></h1>

<ul>
    <li>
        <%= @user.name %>
    </li>
    <li>
        <%= @user.email %>
    </li>
    <li>
        <%= @user.phone %>
    </li>
</ul>

<%= link_to "Editar", edit_user_path(@user) %>
<li><%= link_to "Excluir", user_path(@user),
method: :delete,
data: { confirm: "Você realmente deseja deletar esse usuário?" } %></li>